.containerCenter {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .sidebar {
    width: 250px;
    background-color: var(--color-secondary);
    padding: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid var(--color-primary);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 16px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li a:hover {
    background-color: var(--color-primary);
    color: var(--white);
  }

  .mainContent {
    flex: 1; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signout a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .signout a:hover {
    background-color: var(--gray-100);
    color: var(--color-primary);
  }
  
  .panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background: var(--color-background-light);
  }
  
  .panel h2 {
    color: var(--black);
  }
  
  .panel button {
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    width: 100%;
    margin-top: 16px;
  }
  
  .panel button:hover {
    transform: scale(1.05);
  }
  
  .input {
    height: 40px;
    border: 1px solid var(--gray-100);
    padding: 0 16px;
    border-radius: 8px;
    background-color: var(--dark-900);
    color: var(--white);
    font-size: 16px;
    margin-bottom: 16px;
    margin: 2px;
  }
  
  .input::placeholder {
    color: rgba(255, 255, 255, 0.700);
  }
  
  .imageZoom {
    transition: transform 0.3s ease-in-out;
  }
  
  .imageZoom:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 620px) {
    .panel {
      width: 90%;
    }
  }

  .searchInput {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .searchInput:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 5px var(--color-secondary);
  }