 .logsTableContainer {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .tablesContainer {
    display: flex;
    gap: 20px;
    width: 100%;
  }
  
  .tableWrapper {
    background-color: var(--color-background-light);
    flex: 1;
    max-height: calc(100vh - 200px); 
    padding: 8px;
    overflow-y: auto; 
    overflow-x: auto; 
    border-radius: 12px; 
    border: 2px solid var(--color-highlight);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  }

  .tableWrapper {
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateY(0);
  }
  
  .fadeIn {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fadeOut {
    opacity: 0;
    transform: translateY(10px);
  }
  
  .tableWrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  .tableWrapper::-webkit-scrollbar-track {
    background: var(--dark-700);
    border-radius: 8px;
  }
  
  .tableWrapper::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 8px;
  }
  
  .tableWrapper::-webkit-scrollbar-thumb:hover {
    background: var(--color-highlight);
  }

  .tableWrapper h2 {
    color: var(--color-secondary);
  }
  
  .logsTable {
    width: 100%; 
    border-collapse: collapse;
    border-radius: 8px;
    color: var(--color-text);
    table-layout: auto; /* Ajuste para largura automática */

  
    th, td {
      padding: 9px;
      border: 1px solid var(--orange-900);
      text-align: left;
      margin: 0; 
    }
  
    th {
      background-color: var(--color-primary);
      color: var(--color-text-light);
    }
  
    th:first-child {
      border-top-left-radius: 16px;
    }
  
    th:last-child {
      border-top-right-radius: 16px;
    }

    td:nth-child(2n) {
      background-color: var(--color-background);
    }
  }
  
  .h2 {
    margin-bottom: 20px;
    color: var(--color-secondary); 
    text-align: center; 
    border-radius: 8px;
  }
  
  @media (max-width: 620px) {
    .panel {
      width: 90%;
    }
  }
