.containerCenter {
    min-height: 100vh;
    display: flex;
    flex-direction: row; 
  }
  
  .sidebar {
    width: 250px;
    background-color: var(--dark-700);
    padding: 16px;
    border-right: 1px solid var(--gray-100);
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 16px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    display: flex; 
    align-items: center; 
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .sidebar ul li a:hover {
    background-color: var(--gray-100);
    color: var(--dark-700);
  }
  
  .signout a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    display: flex; 
    align-items: center; 
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .signout a:hover {
    background-color: var(--gray-100);
    color: var(--dark-700);
  }
  
  .panel {
    flex-grow: 1; 
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    background-color: var(--dark-700);
  }
  
  .panel h2 {
    color: var(--orange-900);
  }
  
  .panel button {
    height: 40px;
    font-size: 16px;
    background-color: var(--red-900);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    width: 100%;
    margin-top: 16px;
  }
  
  .panel button:hover {
    transform: scale(1.05);
  }
  
  .input {
    height: 40px;
    border: 1px solid var(--gray-100);
    padding: 0 16px;
    border-radius: 8px;
    background-color: var(--dark-900);
    color: var(--white);
    font-size: 16px;
    margin-bottom: 16px;
    margin: 2px;
  }
  
  .input::placeholder {
    color: rgba(255, 255, 255, 0.700);
  }
  
  .imageZoom {
    transition: transform 0.3s ease-in-out;
  }
  
  .imageZoom:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 620px) {
    .panel {
      width: 90%;
    }
  }