@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

//root colors
:root {
  --background: #fff;
  --header: #1269B0;
  --effects:#589B51;
  --portal-button: #0f5a8e;
}

//root fonts
:root {
  --main: 'SUSE', sans-serif;
}

body {
    font-family: var(--main);
    background-color: var(--background);
    margin: auto;
}

