@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
  font-family: 'SUSE', sans-serif; /* Define a fonte globalmente */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root{

  --white: #FFF;
  --black: #000;

  --dark-900: #151515;
  --dark-700: #121214;

  --gray-400: #27272A;
  --green-900: #3fffa3;
  --blue-900: #05AAA8;
  --blue-700: #52ddda;
  --blue-1000: #0A0A18; 

  --purple-500: #9956F6;
  --purple-300: #b47cff;



  
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-rendering: none;
}

body{
  background: var(--dark-900);
}

body, input, textarea, select, button{
  font: 400, 1rem sans-serif; // 1rem = 16px
}

@media (max-width: 720px){
  html{
    font-size: 87.5%; 
  }
}

@media (max-width: 1080px){
  html{
    font-size: 93.75%; 
  }
}
