<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root{

  --white: #FFF;
  --black: #000;

  --dark-900: #050505;
  --dark-700: #181818;

  --gray-100: #8a8a8a;
  --green-900: #3fffa3;
  --red-900: #05AAA8;
  --orange-900: #F19E1A;

}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-rendering: none;
}

body{
  background: var(--dark-900);
}

body, input, textarea, select, button{
  font: 400, 1rem sans-serif; // 1rem = 16px
}

@media (max-width: 720px){
  html{
    font-size: 87.5%; 
  }
}

@media (max-width: 1080px){
  html{
    font-size: 93.75%; 
  }
}
=======
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

//root colors
:root {
  --background: #fff;
  --header: #1269B0;
  --effects:#589B51;
  --portal-button: #0f5a8e;
}

//root fonts
:root {
  --main: 'SUSE', sans-serif;
}

body {
    font-family: var(--main);
    background-color: var(--background);
    margin: auto;
}

>>>>>>> ebc50c8fba35be2629d4b0740b35c13e5ea401d8
