.backgroundSection {
    background-image: url('../../public/shape-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%; 
    display: flex;
    flex-direction: column;
  }
  
  .secondSection {
    background-image: url('../../public/shape-6.png');
    background-repeat: no-repeat;
    color: var(--white);
    display: flex;
    height: 60vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .customCard {
    background-color: var(--blue-50);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 300px; 
    text-align: center;
  }
  
  .customCard h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .customCard p {
    font-size: 14px;
    color: #666;
  }
  
  .icon {
    color: var(--green-300); 
    font-size: 50px; 
    margin-bottom: 10px; 
  }
  
  .body {
    margin: 0;
    padding: 0;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .backgroundSection {
      height: auto; 
    }
  
    .secondSection {
      height: auto; 
      flex-direction: column;
      padding: 20px;
    }
  
    .cardContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .customCard {
      width: 100%; 
      height: auto; 
    }
  }
  
  @media (max-width: 480px) {
    .backgroundSection {
      padding: 10px;
    }
  
    .secondSection {
      padding: 10px;
    }
  
    .customCard {
      padding: 10px;
    }
  
    .customCard h2 {
      font-size: 16px;
    }
  
    .customCard p {
      font-size: 12px;
    }
  
    .icon {
      font-size: 40px;
    }
  }

  //old

  .containerCenter {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .panel {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 600px;
    padding: 16px;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    background-color: var(--color-background);
  }
  
  .panel h2 {
    color: var(--black);
  }
  
  .panel button {
    height: 40px;
    font-size: 16px;
    background-color: var(--color-primary);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    width: 100%;
    margin-top: 16px;
  }
  
  .panel button:hover {
    transform: scale(1.05);
    background-color: var(--color-highlight);
  }
  
  .input {
    height: 40px;
    border: 3px solid var(--color-primary);
    padding: 0 16px;
    border-radius: 8px;
    background-color: var(--color-secondary);
    color: var(--white);
    font-size: 16px;
    margin-bottom: 16px;
    margin: 2px;
  }
  
  .input::placeholder {
    color: rgba(255, 255, 255, 0.700);
  }
  
  .imageZoom {
    transition: transform 0.3s ease-in-out;
  }
  
  .imageZoom:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 620px) {
    .panel {
      width: 90%;
    }
  }