.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-50);
  color: var(--gray-33);
  padding: 10px 50px;
  font-size: 14px;
  transition: all 0.3s ease-in-out; /* Adiciona transição */
}

.topbar-left {
  display: flex;
  gap: 30px;
  transition: all 0.3s ease-in-out; /* Adiciona transição */
}

.topbar-item {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease-in-out; /* Adiciona transição */
}

.topbar-right {
  display: flex;
  gap: 15px;
  transition: all 0.3s ease-in-out; /* Adiciona transição */
}

.social-icon {
  cursor: pointer;
  font-size: 18px;
  color: var(--gray-33);
  transition: all 0.3s ease-in-out; /* Adiciona transição */
}

.social-icon:hover {
  color: var(--green-300);
}

.initial {
  transform: scale(1.1); /* Estado inicial ligeiramente maior */
}

@media (max-width: 768px) {
  .topbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 20px;
  }

  .topbar-left,
  .topbar-right {
      flex-direction: column;
      gap: 10px;
      width: 100%;
  }

  .topbar-item {
      justify-content: space-between;
      width: 100%;
  }

  .social-icon {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  .topbar {
      padding: 10px;
  }

  .topbar-left,
  .topbar-right {
      gap: 5px;
  }

  .topbar-item {
      font-size: 12px;
  }

  .social-icon {
      font-size: 14px;
  }
}